body{
    margin: 0 auto;
    padding: 0;
}


.r_navbar{
    width: 100%;
    min-height: 70px;
    float: left;
    background:  #F4F5F7;
    
    
}

.nav_logo{
    min-width: 16%;
    min-height: 70px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1px;
    
    
}

.nav_menu{
    min-width: 55%;
    float: left;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    margin-left: 50px;
    margin-right: 10px;
    
}


.nav_menu::after {
    content : "";
    position : absolute;
    width : 100%;
    height : 2px;
    background-color: #25347666;
    bottom: 0px; 
    left: 40px;
  } 



.nav_menu ul{
    padding: 0;
    margin: 0;
}


.nav_menu ul li:hover{
    border-bottom: 2px solid #27AE60;
    
}
.nav_menu ul li{
    list-style-type: none;
    float: left;
    padding: 17px;
    box-sizing: border-box;
    margin-top: 25px;
    margin-left: 20px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;  
    color: #1F1F24;
   
}

.nav_menu ul li:hover{
    cursor: pointer;
}

.nav_3{
    min-width: 20%;
    min-height: 76px;
    float: left;
    background: #253476;
    color: white;
    display: flex;
    justify-content: flex-start;
   margin-left: 22px;
   
    
}

.nav_3 p{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-top: 22px;
    margin-left: 10px;
    
    
}

.back{
    background: #F4F5F7;
    width: 100%;
    height: 230px;

}

.main{
    width: 100%;
    height: 400px;
    float: left;
    
}

.main_foto{
    position: relative;
}

.main img{
    width: 550px;
    height: 300px;
    float: left;
    margin-top: 70px;
    
    
}

.main_foto img{
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.main_foto span{
    position: absolute;
    top: 170px;
    left: 240px;
    color: white;
    font-size: 65px;
    
} 

.main_text{
    width: 400px;
    height: 100px;
    float: left;
    margin-top: 100px;
    margin-left: 70px;
    
}

.main_text p{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43x;
    color: #3E3E3E;
        
}

.finish_time{
    width: 400px;
    height: 50px;
    margin-top: 45px;
    float: left;
}

.finish_time{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #1F1F24;
    position: relative;
    

}
.finish_time::after{
    content : "";
    position : absolute;
    width : 100%;
    height : 3px;
    background: #F4F5F7;
    bottom: 0px;
    right: 0px;
    
}


.time{
    color: #27AE60;
    margin-left: 20px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

}


.share{
    width: 150px;
    height: 20px;
    margin-top: 20px;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.share .icon{
    font-size: 20px;
}


.icon span{
    color:  #27AE60;
    padding: 10px;
    box-sizing: border-box;
}

.footer_text{
    width: 100%;
    height: 300px;
    background: #F4F5F7;
    float: left;
    
}


.fotter_1{
    width: 30%;
    height: 300px;
    float: left;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    
}


.fotter_1::after{
     content : "";
    position : absolute;
    width : 2px;
    height : 218px;
    background-color: #D7D8DA;
    top: 42px; 
    left: 300px;
    
}


.fotter_1 p{
    line-height: 25px;
    box-sizing: border-box;
    
}

.fotter_1 h3{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 80.88%;
    margin-bottom: 30px;
    
}

.footer_2{
    width: 70%;
    height: 300px;
    float: left;
    padding: 20px 30px;
    box-sizing: border-box;
    
}


.footer_2 h3{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 80.88%;
    margin-bottom: 30px;
}


.footer_2 span{
    line-height: 25px;
}

.card{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    float: left;
}

.card_logo{
    width: 40%;
    height: 200px;
    float: left;
    
    
}



.card .card_logo img{
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    float: left;

}

.card_text{
    width: 60%;
    height: 200px;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    padding-right: 20px;
    
}

.card_text p{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #858585;
    float: left;
}

.card_text h3{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    float: left;
}

 .recept{
    float: left;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    position: relative;
    
}

.recept::after{
    content : "";
    position : absolute;
    width : 94%;
    height : 1px;
    background-color:  #F4F5F7;
    bottom: 0px; 
    right: 50px;
}

.recept_logo{
    width: 50%;
    height: 40px;
    float: left;
    padding-left: 10px;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.recept_logo_2{
    width: 50%;
    height: 40px;
    float: left;
    padding-right: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    
    
}

.recept_logo h4 {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 80.88%;
    color: #3E3E3E;
}


.recept_logo_2 a{
    border-bottom: 1px solid #3E3E3E;
    
    text-decoration: none;
} 




@media only screen and (max-width: 662px) {
    .nav_3{
        display: none;
    }

    .nav_menu{
        display: none;
    }
    
    .nav_logo{
        width: 100%;
        min-height: 80px;
        display: flex;
        justify-content: center;
        align-content: center;
        float: left;
        
    }

    

    .main_foto span{
        display: none;
    }

    

    .main_foto img{
        width: 100%
    }
            
    .main_text{
        display: none;
    }
    
    .main_text p{
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 43x;
        color: #3E3E3E;
            
    }
    
    .finish_time{
        width: 400px;
        height: 50px;
        margin-top: 45px;
        float: left;
        display: none;
    }
    
    .finish_time{
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #1F1F24;
        position: relative;
        
    
    }
    .finish_time::after{
        content : "";
        position : absolute;
        width : 100%;
        height : 3px;
        background: #F4F5F7;
        bottom: 0px;
        right: 0px;
        
    }
    
    
    .time{
        color: #27AE60;
        margin-left: 20px;
        font-family: 'Zilla Slab';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        display: none;
    
    }
    
    
    .share{
        display: none;
    
    }
    
    .share .icon{
        display: none;
    }
    

    
    .footer_text{
        display: none;
        
    }
    
    
    .fotter_1{
        display: none;
        
    }
    
    
    
}
